dist: trusty
sudo: true
language: python
python:
  - "3.6"

install:
  - pip install --upgrade pip
  - pip install -r requirements.txt
  - pip install coverage

script: true
  - nosetests --with-coverage --coverage report

script:
  - pytest conftest.py

after_script:
  - coveralls

after_success:
  - codecov

